/* Main page =====================================
==================================================*/

.marcadores{
	color: #FFFFFF;
}

.title-welcome {
	min-height: 10vh;
	text-align: center;
	text-transform:uppercase;
}

.descripcion{
    background-color: #f8f8f8;
    width: 100%;
    padding: 6vh 0;
}

.carta-reserva{
    background-image: url("../img/rest2-bg.jpg");
    height: 55vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center !important;
}

.carta, .reserva{
    height: 50vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: stretch;
    align-content: stretch;

}

.reserva{

}

.reserva h3, .carta h3{
    color: #333;
    text-align: center;
}

.reserva button, .carta button{
    color: #333;
    background-color: transparent;
    border: 2px #333 solid;
    font-weight: bold;
}

.reserva button a, .carta button a{
    color: #333;
    text-align: center;
    text-decoration: none;
}



/* General =========================================
====================================================
 */

.push{
	margin-bottom: 8vh;
}

.fondo-main{
    background: url("../img/Fondo main.jpg") #e6e6e6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center !important;
}

footer{
    background-color: #b3b3b3;
    border-top: 1px #4d4d4d solid;
}

.footer-up{
	background-color: #999999;
    border-bottom: 2px #808080 solid;
}

.footer-copyright{
    background-color: #737373;
    border-top: 1px #4d4d4d solid;
}

.flex-inline{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-content: space-around;
}

.flex-inline a, .flex-inline a:hover, .flex-inline a:focus{
    font-size: 3.5vh;
    margin: auto;
    color: #b38600;
}

.social {
    float: right;
    width: 40vw;
}

.left-social{
    margin-top: 15px;
    float: left;
    width: 60vw;
}

.footer-content{
    align-content: center;
    margin: 4vh auto;
}

.precio{
	float: right;
	font-weight: bold;
	font-size: 3vh;
}

.amarillento-text{
	color: #b38600;
}

.mitad-pagina{
	margin-top: 25vh;
	margin-bottom: 25vh;
	background-color: #f8f8f8;
}

.altura-main-contenido{
	min-height: 45vh;
	max-height: 67vh;
}



/* Menus =====================================
==================================================*/
.articulo-menu{
	margin-top: 5vh;
	background-color: #f8f8f8;
	border: 1px black solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10%;
	padding: 2% 8%;
}

.articulo-menu>ul li {
	list-style: none;
}

.fondo-menu{
	background-image: url("../img/Fondo main.jpg");
	background-repeat: repeat repeat;
	padding-bottom: 8vh;
	padding-top: 2.5vh;
}

/* Platos =====================================
==================================================*/
.articulo-platoInd{
	margin-top: 2.5vh;
    margin-right: 3.1vw;
    margin-left: 3.1vw;
	background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 1% 2%;
}

.platos{
	background-color: #f8f8f8;
	height: auto;
}

.platos p{
	font-size: 13px;
}

.titulo-palo {
	margin-top: 7vh;
}

/* Platos =====================================
==================================================*/
.hide-bullets {
	list-style:none;
	margin-left: -40px;
	margin-top:20px;
}

.thumbnail {
	padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
}

/* Reserva =====================================
==================================================*/
.form-group, form{
	margin-right: 2.1vw;
	margin-left: 2.1vw;
	margin-bottom: 5vh;
	margin-top: 1.5vh;
}

form label, form input, label, input{
	margin-bottom: 2vh;
}

.asteriskField{
	color: red;
}

/* Comentarios =====================================
==================================================*/
.comentario-sec{
	margin-top: 4.5vh;
	margin-bottom: 4.5vh;
	background-color: #f8f8f8;
	min-height: 20vh;
	max-height: 50vh;
	padding-top: 3vh;
	padding-bottom: 3vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right{
	float: right;
}

.comentario-sec small{
	font-weight: lighter;
	font-size: 10px;
}

.inicio{
	margin-top: 15vh;
	background-image: url("../img/Fondo main.jpg");
}

/* Localizacion =====================================
==================================================*/
iframe{
	padding-top: 5vh;
	width: auto;
	height: auto;
}

.info h6{
	font-size: 15px;
}

.info p{
	font-size: 14px;
}

.info p, .info h6, iframe{
	padding-left: 10vw;
}

/* ------------------------------------------------------------- */
body {
	color:#444;
	font:normal 16px "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
	background-color: #e6e6e6;
	overflow-x:hidden;
	line-height:1.5;
}
a {
	color:#3498db;
	cursor:pointer;
	text-decoration:none;
		-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
a:hover,a:focus {
	color:#3498db;
	outline:none;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:0;
}
h1 {
	font-size:38px;
}
h2 {
	font-size:32px;
}
h3 {
	font-size:24px;
	display:block;
}
h4 {
	font-size:20px;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
p {
	margin-bottom:20px;
}
p:last-child {
	margin-bottom:0;
}
ul,ol {
	margin-bottom:20px;
}

img {
	max-width: 100%;
}
/*	Section	==================================================*/
.navbar.active-section {
	top:0 !important;
}

/*	Header	==================================================*/
.header {
	border-bottom: 5px #444 double;
}

.submenu{
	margin-bottom: -2.5vh;
}

/*	Navbar	==================================================*/
.navbar-inverse .navbar-brand {
	padding:30px 15px;
	margin-right:30px;
	color:inherit;
	text-transform:uppercase;
	font-weight:bold;
}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {
	color: #b38600;
}
.navbar-inverse {
	background-color: #fff;
}
.navbar-right button {
	margin:23px 0;
}
.navbar-nav>li>a {
	padding:30px 0;
	margin:0 15px;
}
.navbar-inverse .navbar-nav>li>a {
	color:inherit;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
    color: #b38600;
 }

/* collapse navbar --------------------------------------*/
.navbar-inverse .navbar-toggle {
    background-color:#b38600;
    border-color:#b38600;
    margin-top:18px;
}

/*	Slider	==================================================*/ 
#slider {	
	color:#FFF;
}

.carousel-inner div img{
	width: 100%;
	height: auto;
}

.carousel-control.left,.carousel-control.right {
	background-image:none;
}
.carousel-control {
	color:#FFF;
	opacity:1;
	text-shadow:none;
}
.carousel-control:hover {
	color:#CCC;
}
.carousel-indicators li {
	border-color:#FFF;
	margin:0 2px;
	height:15px;
	width:15px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.carousel-indicators .active {
	height:15px;
	width:15px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin:0 2px;
	background-color:#FFF;
	border:1px solid #FFF;
}
.carousel.slide {
	-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}

.carousel-indicators {
	bottom:-20px;
}
.carousel-control {
	background:transparent;
	position:absolute;
	top:50%;
	margin-top:0;
		border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
		height:40px;
	width:40px;
}

/*	Common	==================================================*/
.wrapsection {  
    padding-top:140px;
	padding-bottom:140px;
    position: relative;
    background-color: #e6e6e6;
  }

/*	Responsive	==================================================*/
@media (max-width: 500px){
	.articulo-platoInd{
        margin-top: 1.5vh;
        background-color: #f8f8f8;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1% 2%;
	}
}

@media (max-width:991px) {
	#image img.img-responsive {
					margin-left:auto;
					margin-right:auto;
	}	
	.navbar-nav>li>a {
					margin:0 7px;
	}
}
@media (max-width:767px) {
	.articulo-platoInd{
        min-height: 16vh;
        margin-top: 1.5vh;
        background-color: #f8f8f8;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1% 3%;
	}

	.bebidas-platoInd{
		min-height: 9vh !important;
	}

    .conjunto-platos{
        display: inherit;
    }

	.desaparece{
		display:none;
	}

	.articulo-menu{
		min-height: 70vh;
	}

	.mapa{
		width: 100%;
		height: 50%;
	}

	.altura-main-contenido iframe{
		margin-bottom: 8vh;
	}

	.altura-main-contenido{
		max-height: inherit;
	}


	.service-box,.img-responsive,.carousel {
					margin-bottom:30px;
	}

	.container {
					max-width:690px;
					padding-left:30px;
					padding-right:30px;
	}	
	.navbar-nav>li>a {
					padding:10px;
	}

	.submenu{
		display: inline-flex;
		padding-bottom: 2.5vh;
	}
}
@media (max-width:767px) {
	body {
					font-size:14px;
	}
	h1 {
					font-size:28px;
	}

	h3 {
					font-size:20px;
	}
	h4 {
					font-size:18px;
	}
	h5 {
					font-size:16px;
	}
	h6 {
					font-size:14px;
	}

	.service-box,.img-responsive,.carousel {
					margin-bottom:30px;
	}

	.container {
					max-width:690px;
					padding-left:30px;
					padding-right:30px;
	}	
}